{% load static %}

</div>
    {% if user.is_authenticated %}
    <h1>Haloo {{user}} !!!</h1> 
    <a href="{% url 'story_9:logout' %}">
        <div class='logout'>
            Log out
        </div> 
    </a>
    {% else %}
    <h1>Please login</h1>
    <a href="{% url 'story_9:login' %}">
        <div class='login'>
            Log in
        </div>
    </a>
    {% endif %}

