{% load static %}

</div>
    {% if form.errors %}
    {{error}}
    {% endif %}
    <form method="POST" action="{% url 'story_9:login' %}">
        {% csrf_token %}
        <label>Username</label>
        <br>
        {{ form.username }}
        <br>
        <label>Password</label>
        <br>
        {{ form.password }}
        <br>
        <input type="submit" value="Log in" class="button">
    </form>


    <p> username : admin </p>
    <p> password : adminadmin </p>

